.Part6 {
    width: 100%; /* Adjust the width as needed */
    height: 14%;
    margin-top: 0%;
    margin-bottom: 0;
    background-color: #3030303a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 767px) {
        box-shadow: none;
        border-radius: 0px;
        width: 100%;
        height: 12%;
    }

}

.upper_part_skills {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
        height: 20%;
    }
}



.skills_header {
    width: 85%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 0;
    color: rgb(88, 88, 88);
    margin-top: 0;
    margin-bottom: 0;

    @media only screen and (max-width: 767px) {
        height: 65%;
        width: 90%;
        font-size: 23px;
        margin-bottom: 0;
        margin-top: 0;
        display: flex;
        align-items: flex-end;
    }
}


.skills_underline_container{
    height: 3vh;
    width: 85%;
    display: flex;
    align-items: center;
}

.skills_underline_itself {
    height: 1px;
    width: 8%;
    border-style: solid;
    border-width: 0px;
    border-radius: 500px;
    background-color: rgb(19, 45, 66);
}



.lower_part_skills {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: 767px) {
        background-color: #30303007;
        height: 80%;
        justify-content: space-between;
    }
}






.skill_card {
    height: 80%;
    width: 32%;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(148, 148, 148, 0.575);
    border-radius: 2px;
}


/*-----------------------------------------*/
.Front_and_design {
    width: 37%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 767px) {
        width: 49%;
        height: 90%;
    }
}

.Frontend, .Design {
    height: 40%;
    width: 97%;
}


/*-----------------------------------------*/


/*-----------------------------------------*/
.Back_Datb_collab {
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width: 767px) {
        width: 47%;
        height: 100%;
    }
}

.Backend, .Database, .Collaboration {
    width: 97%;
    height: 30%;
}

.Database {
    height: 40%;
}





/*-----------------------------------------*/
/*-----------------------------------------*/





/*-----------------------------------------*/


.set_name {
    width: 100%;
    height: 35%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: "Abel", sans-serif;
    font-weight: 4000;
    font-style: normal;
    font-size: 15px;
    padding-left: 5%;
    text-decoration: underline;
    color: rgb(92, 43, 7);
}

.mainset {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    

    @media only screen and (max-width: 767px) {
        flex-wrap: wrap;
    }
    
}


.devicon{
    font-size: 40px;
    margin-left: 5%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    color: rgb(59, 59, 59) !important;

    @media only screen and (max-width: 767px) {
        font-size: 25px;
    }
}

.devicon:hover {
    color: chocolate !important;
    filter: grayscale(0%);
}



.Frontend > .mainset > .devicon, .Design > .mainset > .devicon {
    font-size: 35px;

    @media only screen and (max-width: 767px) {
        font-size: 22px;
    }
}

.Database > .mainset > .devicon {
    font-size: 50px;
}




.workflow {
    width: 20%;
    border-width: 1px;
    border-color: rgb(110, 110, 110);
    border-radius: 10px;
    border-style: dashed;
    display: none;
}
































































































































































































/*--------------------------PART 6 RESPONSIVE----------------------------------------------------------*/
/*--------------------------PART 6 RESPONSIVE----------------------------------------------------------*/

@media only screen and (max-width: 390px) {
    .Database > .mainset > .devicon {
        font-size: 40px !important;
    }
    
}

@media only screen and (max-width: 280px) {

    .Backend > .mainset > .devicon {
        font-size: 20px;
    }

    .Frontend > .mainset > .devicon, 
    .Design > .mainset > .devicon {

        font-size: 18px;
    }

}


@media (min-width: 768px) and (max-width: 1051px) {
    .Frontend > .mainset > .devicon, 
    .Design > .mainset > .devicon {

        font-size: 25px !important;
    }

    .Backend > .mainset > .devicon {
        font-size: 25px;
    }

    .Database > .mainset > .devicon {
        font-size: 40px !important;
    }
    
}
