.Part2 {
    width: 95%;
    height: 9%;
    position: relative;
    background-color: rgba(88, 114, 136, 0.075);
    margin-bottom: 0px;
    margin-top: 0px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #00000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;


    @media (max-width: 1024px) {
        height: 7%;
        box-shadow: none;
        border-radius: 1px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.Two_Parts2 {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;


    @media (max-width: 767px)     /* Mobile devices */
    {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 5%;
    }

}
.Left_part2 {
    overflow: hidden;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(43, 255, 0, 0);

}

.About_Photo {
    height: auto;
    width: auto;
    border-style: solid;
    border-width: 0px;
    border-radius: 50%;
    border-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.meet_remy_photo {
    min-height: 100%;
    min-width: 95%;
    height: 100%;
    width: 95%;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(83, 180, 38);
    border-color: white;
}





.my_github_desk_contain {

    @media (max-width: 767px) {
        display: none;
    }
}

.my_github_desktop {
    padding: 9px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(64, 255, 47);
    background-color: rgba(29, 177, 0, 0.116);
    width: 90px;
    padding: 2px;
    font-size: 9px;
    font-weight: 100;
    cursor: pointer;
    width: 80px;
    transition: transform 0.3s ease-in-out;
}

.my_github_desktop:hover {
    transform: scale(1.2);
    background-color: rgba(102, 255, 0, 0.281);
}



.Right_part2 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    @media (max-width: 767px)     /* Mobile devices */
    {
        font-size: 30px;
        height: 80%;
        width: 53%;
    }
}

.About_me_header, .About_me_par {
    font-family: sans-serif;
    font-weight: 100;
}


.About_me_header {
    height: 15%;
    width: 94%;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(90, 90, 90);
    display: flex;
    align-items: center;

}

.About_me_container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px 0px 30px 0px;
    border-color: rgba(56, 56, 56, 0);
    margin-bottom: 20px;
    background-color: rgba(224, 224, 224, 0);  
    box-shadow:  0 0 2px rgba(0, 0, 0, 0.342);

    @media (max-width: 1023px) {
        width: 95%;
        height: auto;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        overflow-y: auto;
    }

}



.About_me_par_container {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    margin: 0 auto;

    @media (max-width: 767px) {
        width: 100%;
        height: 90%;
        padding: 0;
        overflow-y: auto;
        display: block;
    }
}

.The_par {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.849);
    font-size: 12px;
    height: 30%;
    width: 100%;
    overflow-y: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    @media (max-width: 767px)     /* Mobile devices */
    {
        font-size: 10px;
        width: 80%;
        height: 100%;
        margin-top: 0;
    }
}


.last
{
    width: 100%;

    @media (max-width: 767px)
    {
        width: 80%;
    }
}








.one_par {
    width: 100%;
    height: 10% !important;
    height: auto !important;

    @media (max-width: 767px) {
        height: auto !important;
        margin-top: 10%;
        width: 90%;
    }
}

.two_par {
    width: 100%;
    height: 36% !important;
    height: auto !important;

    @media (max-width: 767px) {
        width: 90% !important;
        height: auto !important;
        margin-top: 10%;
    }
}

.three_par {
    width: 100%;
    height: 23% !important;
    height: auto !important;

    @media (max-width: 767px) {
        height: auto !important;
        width: 95%;
        margin-top: 10%;
    }
}

.four_par {
    width: 100%;
    height: 10% !important;
    height: auto !important;

    @media (max-width: 767px) {
        height: auto !important;
        margin-top: 10%;
        margin-bottom: 5%;
    }
}


















/* Hide scrollbar container */
::-webkit-scrollbar {
    width: 8px !important; 
    height: 10px;
  }
  
  /* Red scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(131, 131, 131);
    border-radius: 55px;
    cursor: pointer;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(56, 56, 56);
  }














































































































































































































































































































































































































































































































































  /*--------------------------PART 2 RESPONSIVE----------------------------------------------------------*/
/*--------------------------PART 2 RESPONSIVE----------------------------------------------------------*/


@media (max-width: 350px){
    .About_Photo {
        height: auto !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 45% !important;
        min-width: auto !important;
        height: 45% !important;
        width: auto !important;
    }
}


@media (min-width: 351px) and (max-width: 660px){
    .About_Photo {
        height: auto !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 50% !important;
        min-width: auto !important;
        height: 50% !important;
        width: auto !important;
    }

    .About_me_header {
        color: rgb(82, 82, 82);
        text-decoration: underline;
    }
}






@media (min-width: 661px) and (max-width: 767px){

    .Left_part2 {
        width: 45%;
        height: 80%;
        height: 100% !important;
        padding-bottom: 4%;
    }

    .About_Photo {
        height: auto !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 60% !important;
        min-width: auto !important;
        height: 60% !important;
        width: auto !important;
    }

    .The_par {
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }

}





@media (min-width: 768px) and (max-width: 5000px){
    
    .Left_part2 {
        width: 45% !important;
    }

    .Right_part2 {
        width: 65% !important;
    }
    .About_Photo {
        height: 55% !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 90% !important;
        min-width: auto !important;
        height: 90% !important;
        width: auto !important;
    }
    
    
    .my_github_desk_contain {
        display: contents;
    }

    .About_me_header {
        width: 80% !important;
        height: 18% !important;
        font-size: 18px;
        color: rgb(90, 90, 90);
        display: flex;
        align-items: flex-end !important;
    }

    .About_me_container {
        height: 70% !important;
    }

    .About_me_par_container {
        overflow: auto !important;
        height: auto !important;
        display: block !important;
    }

    .The_par {
        height: auto !important;
        margin-top: 3% !important;
    }


}


@media (min-width: 1024px) and (max-width: 5000px){
    

    .Part2 {
        width: 95% !important;
        background: linear-gradient(to right, rgba(88, 114, 136, 0) 10%, rgba(50, 60, 68, 0.075) 50%,  rgba(88, 114, 136, 0) 100%) !important;
    }


    .About_Photo {
        height: 50% !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 100% !important;
        min-width: auto !important;
        height: 100% !important;
        width: auto !important;
    }
    
    

    .my_github_desktop {
        margin-top: 15%;
    }



    .About_me_header {
        width: 70% !important;
        height: 15% !important;
        font-size: 18px;
        color: rgb(90, 90, 90);
        display: flex;
        align-items: flex-end !important;
    }

    .About_me_container {
        height: 70% !important;
        padding-bottom: 2%;
    }

    .About_me_par_container {
        overflow: auto !important;
        height: auto !important;
        display: block !important;
    }

    .The_par {
        height: auto !important;
        margin-top: 2% !important;
        font-size: 11px !important;
    }


    .Left_part2{
        background-color: rgba(0, 128, 0, 0) !important;
    }

    .Right_part2 {
        background-color: rgba(210, 105, 30, 0);
    }


}




