
/*--------------------------PART 1 SECTION----------------------------------------------------------*/
/*--------------------------PART 1 SECTION----------------------------------------------------------*/

@media (max-width: 401px) {
    .Remy_heading {
        font-size: 45px;
    }

    .mob_github_link {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
  





@media (max-width: 340px) {


    .Remy_heading {
        font-size: 40px;
    }

    .small_paragraph {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .coffee-button {
        height: 70%;
    }
}





@media (min-width: 760px) and (max-width: 1110px) {
    .center_img{
        height: 14%;
    }

    
    .First_headings{
        width: 95%;
    }

    .hello_heading{
        font-size: 35px;
    }

    .Remy_heading {
        font-size: 45px;
    }

    .small_paragraph {
        width: 93%;
    }

    .Buy_me_coffee {
        width: 80%;
    }

    .coffee-button {
        padding: 10px;
    }

    .social_media {
        width: 80%;
    }

    .all_icons {
        width: 40%;
    }


    .Right_part {
        width: 40%;
        justify-content: flex-start;
    }

    .My_photo{
        width: 90%;
        box-shadow: none;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(78, 78, 78, 0.123);
    }

    .desk_links {
        width: 40%;
        overflow: hidden;
    }

    .link1, .link2, .link3, .link4 {
        font-size: 10px !important;
    }
    
}
  























































/*--------------------------PART 2 SECTION----------------------------------------------------------*/
/*--------------------------PART 2 SECTION----------------------------------------------------------*/







@media (min-width: 555px) and (max-width: 755px) {



    .one_par {
        margin-top: 5% !important;
    }
    
    .two_par {
        margin-top: 5% !important;
    }
    
    .three_par {
        margin-top: 5% !important;
    }
    
    .four_par {
        margin-top: 5% !important;
    }
    




}

  




@media (min-width: 755px) and (max-width: 1000px) {


    .About_me_header{
        text-decoration: underline;
    }

    .About_me_container {
        width: 90% !important;
    }



    .one_par {
        margin-top: 0% !important;
        height: 10% !important;
    }
    
    .two_par {
        margin-top: 0% !important;
        height: 36% !important;
    }
    
    .three_par {
        margin-top: 0% !important;
        height: 23% !important;
    }
    
    .four_par {
        margin-top: 0% !important;
        height: 10% !important;
    }

    .About_me_container{
        height: 75% !important;
    }

    .Right_part2{
        justify-content: center !important;
    }



}














/*--------------------------PART 3 SECTION----------------------------------------------------------*/
/*--------------------------PART 3 SECTION----------------------------------------------------------*/


@media (min-width: 455px) and (max-width: 755px) {
    
    .Left_part3{
        display: flex;
        flex-direction: column;
        justify-content: flex-end !important;
        align-items: center;
    }

    .main_underline {
        width: 30% !important;
    }

    .My_proj_header {
        font-size: 30px !important;
    }
}




@media (min-width: 575px) and (max-width: 1000px) {
    .project_card {
        width: 55vw !important;
        background-color: brown !important;  
    }
}


