
/*--------------------------PART 1 SECTION----------------------------------------------------------*/
/*--------------------------PART 1 SECTION----------------------------------------------------------*/

@media (max-width: 401px) {
    .Remy_heading {
        font-size: 45px;
    }

    .mob_github_link {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
  





@media (max-width: 340px) {


    .Remy_heading {
        font-size: 40px;
    }

    .small_paragraph {
        font-size: 15px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .coffee-button {
        height: 70%;
    }
}





@media (min-width: 760px) and (max-width: 1110px) {
    .center_img{
        height: 14%;
    }

    
    .First_headings{
        width: 95%;
    }

    .hello_heading{
        font-size: 35px;
    }

    .Remy_heading {
        font-size: 45px;
    }

    .small_paragraph {
        width: 93%;
        font-size: 13px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .Buy_me_coffee {
        width: 80%;
    }

    .coffee-button {
        padding: 7px;
        font-size: 6px;
    }

    .social_media {
        width: 76%;
    }

    .all_icons {
        width: 30%;
    }

    .ico_1 {
        padding: 3px;
        font-size: 8px;
    }

    .Right_part {
        width: 40%;
        justify-content: flex-start;
    }

    .My_photo{
        width: 90%;
        box-shadow: none;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(78, 78, 78, 0.123);
    }

    .desk_links {
        width: 40%;
        overflow: hidden;
    }

    .link1, .link2, .link3, .link4 {
        font-size: 10px !important;
    }
    
}
  












































































/*--------------------------PART 2 SECTION----------------------------------------------------------*/
/*--------------------------PART 2 SECTION----------------------------------------------------------*/


@media (max-width: 350px){
    .About_Photo {
        height: auto !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 45% !important;
        min-width: auto !important;
        height: 45% !important;
        width: auto !important;
    }
}


@media (min-width: 351px) and (max-width: 660px){
    .About_Photo {
        height: auto !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 50% !important;
        min-width: auto !important;
        height: 50% !important;
        width: auto !important;
    }
}






@media (min-width: 661px) and (max-width: 767px){

    .Left_part2 {
        width: 45%;
        height: 80%;
        height: 100% !important;
        padding-bottom: 4%;
    }

    .About_Photo {
        height: auto !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 60% !important;
        min-width: auto !important;
        height: 60% !important;
        width: auto !important;
    }

    .The_par {
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }

}





@media (min-width: 768px) and (max-width: 5000px){
    
    .Left_part2 {
        width: 45% !important;
    }

    .Right_part2 {
        width: 65% !important;
    }
    .About_Photo {
        height: 55% !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 90% !important;
        min-width: auto !important;
        height: 90% !important;
        width: auto !important;
    }
    
    
    .my_github_desk_contain {
        display: contents;
    }

    .About_me_header {
        width: 80% !important;
        height: 18% !important;
        font-size: 18px;
        color: rgb(90, 90, 90);
        display: flex;
        align-items: flex-end !important;
    }

    .About_me_container {
        height: 70% !important;
    }

    .About_me_par_container {
        overflow: auto !important;
        height: auto !important;
        display: block !important;
    }

    .The_par {
        height: auto !important;
        margin-top: 3% !important;
    }


}


@media (min-width: 1024px) and (max-width: 5000px){
    

    .Part2 {
        width: 90% !important;
    }


    .About_Photo {
        height: 50% !important;
        width: auto !important;
    }

    .meet_remy_photo {
        min-height: 100% !important;
        min-width: auto !important;
        height: 100% !important;
        width: auto !important;
    }
    
    
    .my_github_desk_contain {
        display: contents;
    }



    .About_me_header {
        width: 70% !important;
        height: 15% !important;
        font-size: 18px;
        color: rgb(90, 90, 90);
        display: flex;
        align-items: flex-end !important;
    }

    .About_me_container {
        height: 70% !important;
        padding-bottom: 2%;
    }

    .About_me_par_container {
        overflow: auto !important;
        height: auto !important;
        display: block !important;
    }

    .The_par {
        height: auto !important;
        margin-top: 2% !important;
        font-size: 11px !important;
    }


    .Left_part2{
        background-color: rgba(0, 128, 0, 0) !important;
    }

    .Right_part2 {
        background-color: rgba(210, 105, 30, 0);
    }


}


@media (min-width: 1024px) and (max-width: 5000px) {}











































































































/*--------------------------PART 3 SECTION----------------------------------------------------------*/
/*--------------------------PART 3 SECTION----------------------------------------------------------*/



@media (max-width: 460px) { /*Because slider cards are compressing nad it looks weird, I decided to switch to normal cards.*/

    /* Hide scrollbar container */
    ::-webkit-scrollbar {
        width: 0px !important; 
        height: 0px !important;
    }
    
    /* Red scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background-color: rgb(131, 131, 131);
        border-radius: 55px;
        cursor: pointer;
        height: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(56, 56, 56);
    }



    .projects_library {
        display: none;
    }

    .small_device_cards {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
        width: 100vw;
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
    }    



    .project_card_2 {
        height: 90%;
        width: 100%;
        scroll-snap-align: start; /* Ensures each card snaps to the start */
        flex-shrink: 0; 
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .main_card_2 {
        height: 90%;
        width: 90%;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        border-color: rgb(124, 124, 124);
        background-color: rgb(197, 197, 197);
    }
    

    .My_proj_header {
        
        @media only screen and (max-width: 455px) {
            width: 100%;
            height: 60%;
            text-align: center;
            font-size: 25px !important;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
    }


    .my_projects_heading_underline {
    
        @media only screen and (max-width: 455px) {
            display: none;
        }
        
    }
    



}


@media (min-width: 461px) and (max-width: 5000px) { /*Make our slider component active till infinity*/
    .projects_library {
        display: contents;
    }

    .small_device_cards {
        display: none;
    }
}



@media (min-width: 401px) and (max-width: 455px) {
    .project_card {
        height: 50vh !important;
        width: 48vh !important;
    }

    .My_proj_header {
        @media only screen and (max-width: 455px) {
            width: 100%;
            height: 60%;
            text-align: center;
            font-size: 30px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }}
}



@media (min-width: 456px) and (max-width: 679px) {

    
    
    .Left_part3{
        display: flex;
        flex-direction: column;
        justify-content: flex-end !important;
        align-items: center;
    }

    .my_projects_heading_underline {
        width: 75% !important;
    }

    .main_underline {
        width: 20% !important;
    }

    .My_proj_header {
        font-size: 25px !important;
        width: 80% !important;
    }

    .project_card {
        width: 80vw !important;
        height: 40vh !important;
    }
}


@media (min-width: 680px) and (max-width: 795px) {
    .project_card {
        width: 43vw !important;
        height: 40vh !important;
    }

    .My_proj_header {
        font-size: 30px !important;
    }
}


@media (min-width: 796px) and (max-width: 1245px) {

    .My_proj_header {
        font-size: 35px !important;
    }

    .project_card {
        width: 40vw !important;
    }
}

@media (min-width: 1246px) and (max-width: 5000px) {
    .project_card {
        width: 21vw !important;
    }
}


















































































































































/*--------------------------PART 4 SECTION----------------------------------------------------------*/
/*--------------------------PART 4 SECTION----------------------------------------------------------*/



@media (min-width: 0px) and (max-width: 460px) {
    .cert_name, .cert_par {
        margin-left: 5%;
    }

    .left_part_certificates {
        width: 100% !important;
    }

    .work_experience {
        width: 95% !important;
        font-size: 14px !important;
    }
}






@media (min-width: 0px) and (max-width: 560px) {

    .certifications_and_experience_top {
        display: none !important;
    }

    .certifications_and_experience_bottom {
        height: 100% !important;
    }


    .Certifications_panel {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        height: 65% !important;
    }

    .left_part_certificates {
        width: 90%;
        height: 30% !important;
    }

    .c_out {
        display: none;
    }

    .check_out {
        width: 100% !important;
        font-size: 30px !important;
    }

    .check_out_par {
        font-size: 10px !important;
        width: 70% !important;
    }

    .learn_more_cert {
        width: 20%;
        background-color: green;
        padding: 4px;
        font-size: 10px;
        display: none;
    }


    .right_part_certificates{
        width: 100% !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        overflow: auto;
        height: 100% !important;
    }

    .cert_card {
        width: 80% !important;
        height: 50% !important;
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        align-items: center;
    }

    .upper_cert {
        height: 80% !important;
        width: 60% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }


    .cert_img {
        min-width: 60% !important;
        width: auto !important;
    }


    .lower_cert {
        height: 100% !important;
        width: 40% !important;
        overflow: hidden;
    }

    .cert_name {
        font-size: 10px;
        margin-top: 3% !important;
        width: 100%;
    }

    .cert_par {
        width: 100%;
        text-align: left !important;
        font-size: 9px;
    }














    .Experience_panel {
        height: 30% !important;
    }

    .work_experience {
        width: 95% !important;
        font-size: 13px !important;
    }




}









@media (min-width: 561px) and (max-width: 767px) {

    /* Hide scrollbar container */
    ::-webkit-scrollbar {
        width: 0px !important; 
        height: 0px !important;
    }
    
    /* Red scrollbar thumb */
    ::-webkit-scrollbar-thumb {
        background-color: rgb(131, 131, 131);
        border-radius: 55px;
        cursor: pointer;
        height: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(56, 56, 56);
    }
    



    .certifications_and_experience_bottom{
        justify-content: space-between !important;
    }

    .Certifications_panel{
        align-items: flex-end !important;
        justify-content: space-around !important;
        height: 65% !important;
    }

    .left_part_certificates{
        width: 50% !important;
        height: 80% !important;
    }

    .check_out {
        width: 100% !important;
    }

    .check_out_par {
        width: 90% !important;
    }

    .right_part_certificates {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 45% !important;
        height: 90% !important;
        overflow-y: auto;
        scroll-snap-type: x mandatory;
    }

    .cert_card {
        width: 100% !important;
        height: 50% !important;
    }

    .upper_cert {
        height: 53%;
    }

    .lower_cert {
        width: 100% !important;
        height: 20% !important;
    }

    .cert_name {
        font-size: 15px;       
    }

    .cert_par {
        font-size: 8px;
    }


    .work_experience {
        width: 95% !important;
        font-size: 16px !important;
    }

}














@media (min-width: 768px) and (max-width: 994px) {

    .Certifications_panel {
        justify-content: space-around !important;
    }

    .left_part_certificates {
        width: 50% !important;
        height: 75% !important;
    }

    .check_out {
        width: 80% !important;
        margin: 0 auto;
    }

    .check_out_par {
        margin: 0 auto;
        width: 80% !important;
    }

    .right_part_certificates {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-end !important;
        width: 35% !important;
        height: 100% !important;
        overflow-y: auto;
    }

    .learn_more_cert {
        margin-left: 10%;
        display: none;
    }

    .cert_card {
        width: 100% !important;
        height: 55% !important;
        margin-top: 5%;
    }

    .upper_cert {
        width: 100%;
        height: 65% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lower_cert {
        width: 100% !important;
        height: 20% !important;
    }

    .cert_name {
        font-size: 15px;       
    }

    .cert_par {
        font-size: 10px;
    }

    .work_experience {
        font-size: 13px !important;
    }
}


@media (min-width: 995px) and (max-width: 5000px) {

    .Certifications_panel {
        justify-content: space-around !important;
    }

    .left_part_certificates {
        width: 50% !important;
        height: 75% !important;
    }

    .check_out {
        width: 80% !important;
        margin: 0 auto;
    }

    .check_out_par {
        margin: 0 auto;
        width: 80% !important;
    }

    .right_part_certificates {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-end !important;
        width: 35% !important;
        height: 100% !important;
        overflow-y: auto;
    }

    .learn_more_cert {
        margin-left: 10%;
        display: none;
    }

    .cert_card {
        width: 100% !important;
        height: 70% !important;
        margin-top: 5%;
    }

    .upper_cert {
        width: 100%;
        height: 65% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lower_cert {
        width: 100% !important;
        height: 20% !important;
    }

    .cert_name {
        font-size: 15px;       
    }

    .cert_par {
        font-size: 10px;
    }

    .work_experience {
        font-size: 13px !important;
    }
}








































































































































































/*--------------------------PART 5 SECTION----------------------------------------------------------*/
/*--------------------------PART 5 SECTION----------------------------------------------------------*/

@media (max-width: 347px) {

    .proffession_title {
        font-size: 11px !important;
    }

    .proffession_paragraph {
        font-size: 9px !important;
    }
}



@media (min-width: 0px) and (max-width: 400px) {
    .service_svg {
        height: 40% !important;
        min-height: 40% !important;
    }
}


@media (min-width: 768px) and (max-width: 1024px){


    .upper_part_services {
        align-items: flex-end !important;
    }

    .service_card {
        height: 55% !important;
    }

    .service_svg {
        height: 45% !important;
        min-height: 45% !important;
    }

    .proffession_title {
        font-size: 10px !important;
    }

    .proffession_paragraph {
        font-size: 8px !important;
    }
}


@media (min-width: 1024px) and (max-width: 5000px){
    .upper_part_services {
        background-color: green;
    }

    .lower_part_services {
        background-color: chocolate;
    }
}




























































































/*--------------------------PART 6 SECTION----------------------------------------------------------*/
/*--------------------------PART 6 SECTION----------------------------------------------------------*/

@media only screen and (max-width: 390px) {
    .Database > .mainset > .devicon {
        font-size: 40px !important;
    }
    
}

@media only screen and (max-width: 280px) {

    .Backend > .mainset > .devicon {
        font-size: 20px;
    }

    .Frontend > .mainset > .devicon, 
    .Design > .mainset > .devicon {

        font-size: 18px;
    }

}


@media (min-width: 768px) and (max-width: 1051px) {
    .Frontend > .mainset > .devicon, 
    .Design > .mainset > .devicon {

        font-size: 25px !important;
    }

    .Backend > .mainset > .devicon {
        font-size: 25px;
    }

    .Database > .mainset > .devicon {
        font-size: 40px !important;
    }
    
}






















































/*--------------------------PART 7 SECTION----------------------------------------------------------*/
/*--------------------------PART 7 SECTION----------------------------------------------------------*/

@media (min-width: 775px) and (max-width: 1060px) {
    .Lower_part_footer {
        align-items: center !important;

    }
}





















































































/*--------------------------PART 8 SECTION----------------------------------------------------------*/
/*--------------------------PART 8 SECTION----------------------------------------------------------*/


@media (max-width: 320px)  {
    .phone_container, .email_container {
        font-size: 8px !important;
    }

    .socials {
        font-size: 7px !important;
        padding: 6px !important;
    }
}
















































































































/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/




@media (max-width: 767px) {
    body {
        height: 510vh !important;
    }



    .center_img {
        height: 17% !important;
    }

    .Part2 {
        height: 6% !important;
    }
    .Part3 {
        height: 12% !important;
    }
    .Part4 {
        height: 21% !important;
    }
    .Part5 {
        height: 15% !important;
    }
    .Part6 {
        height: 12% !important;
    }
    .Part7 {
        height: 15% !important;
    }
    .Part8 {
        height: 2% !important;
    }
}




@media (min-width: 768px) and (max-width: 1024px) {

    body {
        height: 460vh !important;
    }
    
    .center_img {
        height: 15% !important;
    }

    .Part2 {
        height: 7% !important;
    }
    .Part3 {
        height: 15% !important;
    }
    .Part4 {
        height: 21% !important;
    }
    .Part5 {
        height: 13% !important;
    }
    .Part6 {
        height: 12% !important;
    }
    .Part7 {
        height: 16% !important;
    }
    .Part8 {
        height: 1% !important;
    }

}






@media (min-width: 1025px) { 
    
    body {
        height: 570vh !important;
    }

    .center_img {
        height: 18% !important;
    }

    .Part2 {
        height: 8% !important;
    }
    .Part3 {
        height: 15% !important;
    }
    .Part4 {
        height: 19% !important;
    }
    .Part5 {
        height: 12% !important;
    }
    .Part6 {
        height: 11% !important;
    }
    .Part7 {
        height: 16% !important;
    }
    .Part8 {
        height: 1% !important;
    }


    


}















