
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/
/*--------------------------SIZING SECTION----------------------------------------------------------*/




@media (max-width: 767px) {
    body {
        height: 650vh !important;
    }



    .center_img {
        height: 13% !important;
    }

    .Part2 {
        height: 5% !important;
    }
    .Part3 {
        height: 31% !important;
    }
    .Part4 {
        height: 17% !important;
    }
    .Part5 {
        height: 11% !important;
    }
    .Part6 {
        height: 10% !important;
    }
    .Part7 {
        height: 11% !important;
    }
    .Part8 {
        height: 2% !important;
    }
}




@media (min-width: 768px) and (max-width: 1024px) {

    body {
        height: 460vh !important;
    }
    
    .center_img {
        height: 15% !important;
    }

    .Part2 {
        height: 7% !important;
    }
    .Part3 {
        height: 15% !important;
    }
    .Part4 {
        height: 21% !important;
    }
    .Part5 {
        height: 13% !important;
    }
    .Part6 {
        height: 12% !important;
    }
    .Part7 {
        height: 16% !important;
    }
    .Part8 {
        height: 1% !important;
    }

}






@media (min-width: 1025px) { 
    
    body {
        height: 590vh !important;
    }

    .center_img {
        height: 17% !important;
    }

    .Part2 {
        height: 8% !important;
    }
    .Part3 {
        height: 18% !important;
    }
    .Part4 {
        height: 19% !important;
    }
    .Part5 {
        height: 11% !important;
    }
    .Part6 {
        height: 11% !important;
    }
    .Part7 {
        height: 15% !important;
    }
    .Part8 {
        height: 1% !important;
    }


    


}
































































