
/* Hide scrollbar container */
::-webkit-scrollbar {
  width: 6px; 
  height: 10px;
}

/* Red scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);
  border-radius: 55px;
  cursor: pointer;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(56, 56, 56);
}





body {
    position: relative;
    height: 570vh;
    width: 100vw;
    background-color: aliceblue;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    margin: 0;
    padding: 0;

    @media (max-width: 767px)     /* Mobile devices */
    {
        height: 520vh;
        padding-bottom: 0;
        margin-bottom: 0;
        overflow-x: hidden;
    }
       

}

#root {
    width: 100%;
    height: 100%;
}


.Everything_is_here {
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-radius: 0px;
    position: relative;
    background-color: rgba(240, 248, 255, 0.212);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    overflow-x: hidden;


    @media (max-width: 767px)     /* Mobile devices */
    {
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        box-shadow:  0 0 5px rgba(0, 0, 0, 0);
        padding-bottom: 0;
        overflow-x: hidden;
    }
}



.return_to_top
{
    left: 95%;
    top: 85%;
    transform: translateX(-50%);
    animation-duration: 5000s;
    position: fixed; 
    z-index: 999; 
    background-color: none;
    display: none;
    opacity: 0;
    transition: opacity 0.1s ease;
    border: none;

    @media (max-width: 767px)
    {
        display: none;
    }
    
}

.back_top
{
    font-size: 30px;
    color: rgba(32, 32, 32, 0.603);
    transition: color 0.1s ease;

    @media (max-width: 767px)
    {
        display: none;
    }
}

.back_top:hover
{
    color: rgba(32, 32, 32, 0.911);
    transition: color 0.1s ease;
}


.Divisor
{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: 767px)     /* Mobile devices */
    {
        margin-top: 0;
        margin-bottom: 0;
        height: 0px;
    }
}

.Mobile_Divisor
{
    width: 40%;
    height: 1px;
    margin-bottom: 1%; 
    margin-top: 1%; 
    background-color: rgba(0, 0, 0, 0.158);
    

    @media (max-width: 767px)     /* Mobile devices */
    {
        width: 40%;
        height: 1px;
        margin-bottom: 1%; 
        margin-top: 1%; 
        background-color: rgba(0, 0, 0, 0.096);
    }
}




.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 13px;
    height: 13px;
    padding: 0;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-right: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    animation: float 5s infinite alternate;
  }

  .circle1 {
    width: 50px;
    height: 50px;
    margin-top: 4%;
    margin-left: 10%;
    background-color:  #aa7f2fa1;
    z-index: 999;
    display: none;
  }

  .circle2 {
    width: 450px;
    height: 450px;
    bottom: 88%;
    right: 60%;
    animation-duration: 5s;
    background-color:  #2f87aa27;
    display: none;
    
  }

.circle3 /*THE ONE ON ABOUT SECTION*/
{
    width: 200px;
    height: 200px;
    top: 18%;
    left: 80%;
    transform: translateX(-50%);
    animation-duration: 5000s;
    background-color:  #4caa2f2d;
    display: none;
}

  

.circle4a 
{
    width: 600px;
    height: 600px;
    bottom: 77%;
    right: 55%;
    animation-duration: 5000s;
    background-color:  rgba(29, 80, 0, 0.308);
    transform: rotate(90deg);
    display: none;
  }

.circle4b 
{
    width: 450px;
    height: 450px;
    bottom: 74%;
    right: 50%;
    animation-duration: 5000s;
    background-color:  rgba(29, 80, 0, 0.068);
    transform: rotate(90deg);
    display: none;

} 
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .triangle2a {
    position: absolute;
    bottom: 46%;
    left: 25%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 700px solid transparent;   /* Length of the left side */
    border-right: 700px solid transparent;  /* Length of the right side */
    border-bottom: 1500px solid #a1ff8e31;      /* Length of the bottom side to reduce as px increase*/
    border-radius: 50%;
    animation: rotateTriangle 50s infinite linear;
    filter: blur(5px);

    @media (max-width: 767px)     /* Mobile devices */
    {
        border-bottom: 1500px solid #8eacff10;
    }
  }

  .triangle3 {
    display: none;
    position: absolute;
    bottom: 99%;
    left: 97%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;   /* Length of the left side*/
    border-right: 20px solid transparent;  /* Length of the right side*/
    border-bottom: 35px solid #c2670079;   /* Length of the bottom side to reduce as px increase*/
    animation: rotateTriangle 15s infinite linear;

    @media (max-width: 767px)     /* Mobile devices */
    {
        display: none;
    }
    
  }

  @keyframes rotateTriangle {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(360deg);
    }
  }

.triangle1 {
    width: 0;
    height: 0;
    border-top: 100px solid rgb(0, 143, 24); /* Height of the triangle */
    border-right: 80px solid transparent; /* Width of the triangle */
    position: absolute;
    top: 0;
    left: 0;
    
    @media (max-width: 767px)     /* Mobile devices */
    {
        display: none;
    }
  }

.triangle2
{
    width: 0;
    height: 0;
    border-bottom: 50px solid rgb(0, 143, 24); /* Height of the triangle */
    border-left: 50px solid transparent; /* Width of the triangle */
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;

    @media (max-width: 767px)     /* Mobile devices */
    {
        display: none;
    }
}

  .green-line1 
  {
    display: none;
    width: 40px; /* Length of the line */
    height: 1px; /* Thickness of the line */
    background-color: rgba(0, 128, 0, 0.247);
    position: absolute;
    top: 13%; /* Distance from the top */
    left: 3%;
    transform: rotate(-53deg); /* Rotate the line */

    
    @media (max-width: 767px)     /* Mobile devices */
    {
        display: none;
    }
  }

  .green-line2 
  {
    display: none;
    width: 40px; /* Length of the line */
    height: 1px; /* Thickness of the line */
    background-color: rgba(0, 128, 0, 0.24);
    position: absolute;
    top: 16.5%; /* Distance from the top */
    left: 33%;
    transform: rotate(-53deg); /* Rotate the line */

    @media (max-width: 767px)     /* Mobile devices */
    {
        display: none;
    }    
  }



  .circle5 /*THE ONE ON ABOUT SECTION*/
{
    width: 200px;
    height: 200px;
    top: 41%;
    left: 25%;
    border-bottom: 200px;
    transform: translateX(-50%);
    animation-duration: 5000s;
    background-color:  #00000034;
    filter: blur(50px);
    display: none;
}


/*--------------------------------------------------------------------------------------------------------*/
